<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading 2 </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, atque. Repudiandae est, deleniti sed reprehenderit doloribus culpa optio? Nihil illo earum et ipsam dolore autem eius maxime beatae obcaecati. Sint.</p>
    </header>
    <div style="width: 30%;">
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique nobis dolor odit quia iure non, perferendis placeat iste quis maiores totam explicabo libero adipisci, cum magnam. Ipsum delectus adipisci magni?</p>
            </div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-right">
    <div class="container">
        <h2 class="block__heading">Heading 2 </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, atque. Repudiandae est, deleniti sed reprehenderit doloribus culpa optio? Nihil illo earum et ipsam dolore autem eius maxime beatae obcaecati. Sint.</p>
    </div>
</section>
