<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
            <svg class="icon icon--primary icon--white collapsible__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
    </header>
    <div class="collapsible__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nostrum exercitationem odit consequuntur sequi suscipit nulla harum sint nesciunt, debitis doloremque quibusdam cumque tempora facere, ipsum natus error mollitia obcaecati.</p>
    </div>
</div>